/* RESET CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS */

:root {
    background-color: #343434;
    color: white;
    font-family: 'Roboto Slab', serif;
    line-height: 1.6;
}

.about {
    margin: auto;
    margin-top: 1.25%;
    width: 24em;
    border: 3px solid #D90368;
    border-style: double;
    border-radius: 45px;
    padding: 1.5em;
}

a {
    color: #FFC300;
}

.header {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    color: #04A777;
    margin: auto;
    margin-top: 10%;
    width: 50%;
    border-bottom: 0px dotted #04A777;

}

@media screen and (max-width:720px) {
    /*CSS code for devices with a maximal width of 720 px */
    
    .about {
        margin: auto;
        margin-top: 2%;
        width: 75%;
        border: 1px solid #D90368;
        padding: 2rem;
    }
    
    a {
        color: #FFC300;
        font-size: .8em;
        padding: 0;
        margin: 0;
    }
    
    .header {
        text-align: center;
        font-size: 1.5em;
        color: #04A777;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 5%;
        width: 50%;
        border-bottom: 0px dotted #04A777;
    }
}